go 1.23.0

use (
	./cloud/archive/cps-ipfsstore-backend
	./cloud/archive/cps-nftstore-backend
	./cloud/archive/cps-nftstore-cli
	./cloud/comiccoin-authority
	./cloud/cps-backend
	./native/desktop/archive/comiccoin
	./native/desktop/archive/comiccoin-core
	./native/desktop/archive/comiccoin-nftassetstore
	./native/desktop/archive/comiccoin-registry
	./native/desktop/comiccoin-cli
)
